.Navbar {
  border: 1px solid;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.Logo{
  width:20%
}

.NavList{
width: 30%;
list-style: none;
display: flex;
justify-content: space-around;
}

.NavList li{
  cursor: pointer;
}

.NavList li:hover{
color: blue;

}

